@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  background-color: #fff;
  color: #000;
  padding-top: env(safe-area-inset-top);
}
body.dark {
  background-color: #000;
  color: #fff;
}
